@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    margin: 0px;
}

.leaflet-container {
    height: 400px;
    width: 800px;
}

.MainContainer {
    /* background-color: red; */
    height: 100vh;
    width: 100vw;
  
}


.navbar-c {
    /* background-image: linear-gradient(#185a9d, #43cea2); */
    /* border: solid black 1px; */
    height: 10rem;
    /* width: 100vw; */
    display: flex;
    /* flex-direction: */
    /* justify-content: space-evenly; */

    /* flex-wrap: wrap; */

    /* align-items: ; */

    /* align-content: center; */

}


.navbar {
    display: flex;
    font-family: 'Muli', sans-serif;
    
}

li {
    display: inline;
    margin: 2rem;

}

.Hiw {
    text-decoration: none;
    display: inline;
    position: relative;
    overflow: hidden;
    color: black;
}

.Hiw:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -5px;
    background: #000;
    height: 2px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  .Hiw:hover:after,
  .Hiw:focus:after,
  .Hiw:active:after {
    left: 0;
    right: auto;
    width: 100%;
  }

.Name {
    text-decoration: none;
    display: inline;
    position: relative;
    overflow: hidden;
    color: black;
}

.Name:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -5px;
    background: #000;
    height: 2px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    color: grey;
  }
  .Name:hover:after,
  .Name:focus:after,
  .Name:active:after {
    left: 0;
    right: auto;
    width: 100%;
    color: grey;
  }

.Price {
    text-decoration: none;
    display: inline;
    position: relative;
    overflow: hidden;
    color: black;
}

.Price:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -5px;
    background: #000;
    height: 2px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  .Price:hover:after,
  .Price:focus:after,
  .Price:active:after {
    left: 0;
    right: auto;
    width: 100%;
  }

.Faq {
    text-decoration: none;
    display: inline;
    position: relative;
    overflow: hidden;
    color: black;
}

.Faq:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -5px;
    background: #000;
    height: 2px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  .Faq:hover:after,
  .Faq:focus:after,
  .Faq:active:after {
    left: 0;
    right: auto;
    width: 100%;
  }

.Contact {
    text-decoration: none;
    display: inline;
    position: relative;
    overflow: hidden;
    color: black;
}

.Contact:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -5px;
    background: #000;
    height: 2px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  .Contact:hover:after,
  .Contact:focus:after,
  .Contact:active:after {
    left: 0;
    right: auto;
    width: 100%;
  }

/* .Contact:hover {
    text-decoration: underline;
} */

.title {
    width: 20rem;
    height: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: flex-start;
    font-size: 1.5rem;
}

.content {
    width: 73rem; 
    height: 100%; 
    /* background-color: blueviolet; */
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
}

.map-container {
    /* width: 100rem;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 30rem;
    /* background-color: blueviolet; */
    width: 78rem;
    margin: 1rem 0rem 0rem 0rem;


}

.map-subtext {
    display: flex;
    margin: 1rem 0rem 1rem -2.5rem;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Muli', sans-serif;
    color: gray;
    /* background-color: #3a7999; */

}


.parallax {
    /* The image used */
    background-image: url("b.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


.home-section {
    height: 50rem;
    width: 100vw;
    /* background-color: grey; */
    /* background-image: url("iron-shirts-2.jpg"); */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Muli', sans-serif;

}

.home {
    /* background-image: url("iron-shirts-2.jpg"); */
    height: 100vh;
    width: 100vw;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.section-content {
    height: 20rem;
    width: 50rem;
    /* background-color: red; */
    padding: 1rem;
    margin: 2rem;
    color: grey;
    
}

h4 {
    padding: 0.2rem;
}

.button-container {
    height: 8rem;
    /* background-color: aqua; */
    margin: -3rem 0rem 0rem 7rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

button {
    height: 2rem;
    width:  7rem;
    margin: 1rem;
    border-radius: 0.1rem;
    background-color: lightgray;
    box-shadow: none;
    border: none;
    text-decoration: none;
    color: grey;
}

button:hover {

    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}


.laundry {
    height: 30rem;
    width:  40rem;
    margin: 0rem 0rem 1rem 7rem;
}


.icon {
    height: 3rem;
    width: 5rem;
}


/* //how it works sectio n.  */


.hiw-section-grid-container {
    height: 60rem;
}

.grid-box {
    /* background-color: #3a7999; */
    height: 100%;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;

}

.left {
    grid-column: (1,2) ;
    /* background-color: blue; */
}

.right {
    grid-column: (2,2) ;
    /* background-color: pink; */
}


.right-box {
    height: 70%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin: 3rem 0rem 5rem -3rem;
    padding: 2rem;
    font-family: 'Muli', sans-serif; 
 
}

.Hiw-word {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    margin: 0rem 0rem 0rem 5rem;
    padding: 0rem 0rem 0rem 5rem;
    font-family: 'Muli', sans-serif;
    color: lightgray;
    font-weight: bold;
}

.hiw-content {
    /* background-color: red;  */
    margin-top: 11rem;
    /* height: 100%; */
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1rem;
    margin: 6rem 0rem 5rem -3rem;
    padding: 2rem;
    font-family: 'Muli', sans-serif; */
}


/* pricing section */

.pricing-container {

    height: 67rem;
}

.back-to-top {
    display: flex;
    justify-content: center;
    font-family: 'Muli', sans-serif;
    text-decoration: none;
    /* color: gray; */
    /* letter-spacing: 1rem; */
}

#back-to-top {
    text-decoration: none;
    color: black;
}

.Pricing-word {
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 12rem;
    margin: 8rem 0rem 0rem 5rem;
    padding: 0rem 0rem 0rem 0rem;
    font-family: 'Muli', sans-serif;
    color: lightgray;
    /* font-weight: bold; */
    letter-spacing: 5rem;
    /* background-color: #3a7999; */
}

.sub-text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: gray;
}

.pricing-grid-container {
    height: 50rem;
    /* background-color: #3a7999; */
    margin-top: -4rem;
}

.pricing-grid-box {
    height: 100%;
    display: grid;
    grid-template-columns: 0.33fr 0.33fr 0.33fr;
    /* background-color: #3a7999; */
}


.pricing-left {
    grid-column: (1,2) ;
    /* background-color: blue; */
}

.pricing-middle {
    grid-column: (2,3) ;
    /* background-color: blue; */
}

.pricing-right {
    grid-column: (3,3) ;
    /* background-color: pink; */
}

.pricing-left-box {
    height: 65%;
    /* background-color: blue; */
    /* display: flex;
    justify-content: center; */
    margin: 10rem 0rem 0rem 5rem;
    border-left: solid black 0.01rem;
}

.essentials {
    padding: 0rem 0rem 0rem 1rem;
    font-size: 3rem;
    font-family: 'Muli', sans-serif;
}

.content-grid {
    height: 90%;
    width: 70%;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    /* background-color: lightcoral; */
    font-family: 'Muli', sans-serif;
}

/* .content-grid-box {
    height: 90%;
    width: 70%;
    background-color: lightgreen;
   
} */

.clothes-name-left-box {
    height: 90%;
    width: 10rem;
    grid-row: (1,2) ;
    /* background-color: blue; */
    padding: 1rem;
}

p {
    margin: 0.5rem 0.5rem 0rem 0rem;
    padding: 1rem 1rem 0rem 0rem;
}

.clothes-price-right-box {
    height: 90%;
    width: 5rem;
    grid-row: (2,2) ;
    background-color: rgb(170, 170, 170);
    padding: 1rem;
}

/* pricing middle box */

.pricing-middle-box {
    height: 65%;
    /* background-color: blue; */
    /* display: flex;
    justify-content: center; */
    margin: 10rem 0rem 0rem 5rem;
    border-left: solid black 0.01rem;
}

.specials {
    padding: 0rem 0rem 0rem 1rem;
    font-size: 3rem;
    font-family: 'Muli', sans-serif;
}

.pricing-content-grid {
    height: 90%;
    width: 70%;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    /* background-color: lightcoral; */
    font-family: 'Muli', sans-serif;
}

.specials-name-left-box {
    height: 90%;
    width: 13rem;
    grid-row: (1,2) ;
    /* background-color: blue; */
    padding: 1rem;
}

p {
    margin: 0.5rem 0.5rem 0rem 0rem;
    padding: 1rem 1rem 0rem 0rem;
}

h3 {
    margin: 0.5rem 0rem 0rem 0rem;
    padding: 0.5rem 0rem 0rem 0rem;
}

.wash-fold-laundry {
    margin: 4rem 0rem 0rem 0rem;
}

.specials-price-right-box {
    height: 90%;
    width: 5rem;
    grid-row: (2,2) ;
    background-color: rgb(170, 170, 170);
    padding: 1rem;
}

/* pricing right box */


.pricing-right-box {
    height: 65%;
    /* background-color: blue; */
    /* display: flex;
    justify-content: center; */
    margin: 10rem 0rem 0rem 5rem;
    border-left: solid black 0.01rem;
}

.other {
    padding: 0rem 0rem 0rem 1rem;
    font-size: 3rem;
    font-family: 'Muli', sans-serif;
}

.other-content-grid {
    height: 90%;
    width: 70%;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    /* background-color: lightcoral; */
    font-family: 'Muli', sans-serif;
}

.other-name-left-box {
    height: 90%;
    width: 14rem;
    grid-row: (1,2) ;
    /* background-color: blue; */
    padding: 1rem;
}

.other-price-right-box {
    height: 90%;
    width: 5rem;
    grid-row: (2,2) ;
    background-color: rgb(170, 170, 170);
    padding: 1rem;
}

.small-text {
    font-size: 1rem;
    color: gray;
}

/* form */

  input,
  span,
  label,
  textarea {
    font-family: 'Muli', sans-serif;
    display: block;
    margin: 10px;
    padding: 5px;
    border: none;
    font-size: 22px;
  }
  
  textarea:focus,
  input:focus {
    outline: 0;
  }
  /* Question */
  
  input.question,
  textarea.question {
    font-size: 48px;
    font-weight: 300;
    border-radius: 2px;
    margin: 0;
    border: none;
    width: 80%;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
  }
  /* Underline and Placeholder */
  
  input.question + label,
  textarea.question + label {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 10%;
    border-top: 1px solid red;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
    height: 8px;
    

  }
  
  input.question:focus + label,
  textarea.question:focus + label {
    width: 80%;
  }
  
  input.question:focus,
  input.question:valid {
    padding-top: 35px;
    /* background-color: lightseagreen; */
    height: 3rem;
    margin: 3rem 0rem 0rem 0rem;
  }
  
  textarea.question:valid,
  textarea.question:focus {
    margin-top: 35px;
    /* background-color: lightseagreen; */
    /* height: 10rem; */
    /* background-color: lightseagreen; */

    height: 4rem;
    margin: 8rem 3rem 0rem 0rem;
  }
  
  input.question:focus + label > span,
  input.question:valid + label > span {
    top: -100px;
    font-size: 22px;
    color: #333;

  }
  
  textarea.question:focus + label > span,
  textarea.question:valid + label > span {
    top: -130px;
    font-size: 22px;
    color: #333;
    margin: 0rem 0rem 0rem 0rem;
    /* background-color: lightseagreen; */
  }
  
  input.question:valid + label,
  textarea.question:valid + label {
    border-color: green;
  }
  
  input.question:invalid,
  textarea.question:invalid {
    box-shadow: none;
  
  }
  
  input.question + label > span,
  textarea.question + label > span {
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    margin: 0;
    position: absolute;
    color: #8F8F8F;
    font-size: 48px;
    top: -66px;
    left: 0px;
    z-index: -1;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  }
  
  #contact-submit {
    -webkit-transition: opacity 0.2s ease, background 0.2s ease;
    transition: opacity 0.2s ease, background 0.2s ease;
    display: block;
    opacity: 0;
    margin: 1rem 0 0 0;
    padding: 1rem;
    cursor: pointer;
    height: 5rem;
    
  }
  
  #contact-submit:hover {
    background: lightseagreen;
  }
  
  #contact-submit:active {
    background: #999;
  }
  
  input.question:valid ~  #contact-submit, textarea.question:valid ~  #contact-submit {
    -webkit-animation: appear 1s forwards;
    animation: appear 1s forwards;

  }
  
  input.question:invalid ~  #contact-submit, textarea.question:invalid ~  #contact-submit {
    display: none;
  }
  
  @-webkit-keyframes appear {
    100% {
      opacity: 1;
    }
  }
  
  @keyframes appear {
    100% {
      opacity: 1;
    }
  }

.contact-us-form {
    /* height: 25rem; 
    width: 90rem;
    background-color: blueviolet;  */

    /* background-color: blueviolet; */
}

.contact-us-form-container {
    height: 15rem;
    width: 90rem;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    margin: 0rem 0rem 0rem 7.8rem;
}


.contact-us-word {
    height: 5rem;
    width: 90rem;
    font-family: 'Muli', sans-serif;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
}

#back-to-top-map {
    color: black;
    margin-top: 10rem;
}